<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">
    {% block contenido %}

    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Borrar cuenta</legend>
                <p>La cuenta se eliminará permanentemente. ¿Seguro que desea proceder?</p>
                {{ form }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-danger" type="submit">Eliminar Cuenta</button>
            <a href="/index"><input type="button" value="volver" class="btn btn-info"></a>
        </div>
    </form>


    {% endblock %}
</div>



