
{% load crispy_forms_tags  %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">
    {% block contenido %}

    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <a href="/index"> <input type="button" value="volver" class="btn btn-info"></a>
        <input type="submit" value="Confirmar cambios" class="btn btn-success">
        
        
    </form>

    {% endblock %}
</div>