

{% load crispy_forms_tags  %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    


    <div class="container">
        {% block contenido %}

            <h2>Registrar usuario</h2>

            <form method="POST">
                {{ form | crispy }}
                {% csrf_token %}
            <input type="submit" value="registrar" class="btn btn-success">
            <a href="/index"> <input type="button" value="volver" class="btn btn-info"> </a>

        </form>

        {% endblock %}

    </div>
       

<hr />

    
    
   




