<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



<div class="container">
    {% block contenido %}
        <h2>    Agenda    </h2>

        <table class="table">
            <tr>
                <th>    Nombre  </th>
                <th>Apellido</th>
                <th>Rubro</th>
                <th>Teléfono</th>
                <th>Correo electronico</th>
                <th>Horario</th>       
            </tr>
        
            {% for p in peluquero %}
        
            <tr>
                <td>{{ p.nombre }}</td>
                <td>{{ p.apellido }}</td>
                <td>{{ p.rubro }}</td>
                <td>{{ p.telefono }}</td>
                <td>{{ p.email }}</td>
                <td>{{ p.horario }}</td>
            </tr>
        
        
            {% endfor %}
        
        
        </table>
        
        <hr/>
        
        <a href="/index"><input type="button" value="volver" class="btn btn-info"></a>
        

    {% endblock  %}
</div>
 


