
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">
    {% block contenido %}

    <h2>    Catálogo    </h2>

    <hr/>

    <ul>
     <li> Cortes varon </li>

     <hr />
     <li> Cortes dama  </li>

     <hr />
     <li> Cortes niño </li>

     <hr />
     <li> Baños de color  </li>

     <hr />
     <li> Tintes </li>

     <hr />
     <li> Alisados  </li>

     <hr />
     <li> Rizados </li>

     <hr />
     <li> Peinados </li>
    

     <hr />

     <a href="/index"><input type="button" value="volver" class="btn btn-info"></a>
        
    </ul>

    {% endblock %}
</div>
