<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">
    {% block contenido %}

    <h2>    Información    </h2>

    <hr />

    <ul>
        <li>Horarios Lunes - Viernes 10:00 AM - 18:00 PM Sabado y Domingo 12:00 PM - 20:00 PM</li>
        <br/>
        <li>Direccion: Avenida Los Corrales #1212 </li> 
        <br/>
        <li>Contacto fijo: 2 2549 2548</li>
        <br/>
        <li>Contacto Movil: +56 9 3548 8486 </li>
        <br/>
        <li>Email: peluqueria@gmail.com </li>

        <hr/>

        <a href="/index"><input type="button" value="volver" class="btn btn-info"></a>
    </ul>

    {% endblock %}
</div>
