

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div class="container">
    {% block contenido %}

    <h2>    Perfíl   </h2>

    <table class="table">


        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo electronico</th>
            <th>Nombre de usuario</th>
    
        </tr>
    
    
    <tr>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
    
    </tr>
    
    
    
    </table>
    
    <hr/>
    
    <a href="/index"><input type="button" value="volver" class="btn btn-info"></a>





    {% endblock %}
</div>
